<!-- 
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.

-->

<wicket:extend>
    <p>
        You must login to access your account.
    </p>
    <div>
        <span wicket:id="feedback">[Feedback Panel]</span>
    </div>
    <div>
        <label for="realm">Realm</label>
        <span wicket:id="realm" id="realm">REALM</span>
    </div>
    <br/>
    <form wicket:id="loginForm">
        <label for="username">Username</label>
        <input wicket:id="username" id="username" type="text"/><br/>

        <label for="password">Password</label>
        <input wicket:id="password" id="password" type="password"/><br/>

        <label for="passcode">Passcode</label>
        <input wicket:id="passcode" id="passcode" type="password"/><br/>

        <label for="mode">Graphics Mode?</label>
        <input wicket:id="mode" id="mode" type="checkbox" class="boxes"/><br/><br/>

        <input wicket:id="submit" type="submit" name="submit" value="Submit"/>
    </form>
    <div>
        <a href="#" wicket:id="smsLink">Click here to provision a demo account to your handset!</a>
    </div>
</wicket:extend>
