<!--

  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.

-->

<wicket:extend>
    <p>
        Triplesec can provision the Hauskeys OTP generator to your phone via 
        SMS.  Configure the SMS Gateway Account information here.  If you don't 
        want to use SMS just enter bogus information.  If you want to 
        use a free trial SMS account, register with the following service
        <b><a href="http://demo.safehaus.org/smstrial/smstrial">HERE</a></b>.  It will 
        email you the parameters you need to fill in this screen and proceed.
    </p>
    <br/>

    <label for="smsProvider">Provider</label>
    <select wicket:id="smsProvider" id="smsProvider">
        <option>Provider A</option>
        <option>Provider B</option>
    </select>
    <br/>
    <br/>

    <label for="smsAccountName">Account Name</label>
    <input wicket:id="smsAccountName" id="smsAccountName" type="text"/><br/>

    <label for="smsUsername">Account Username</label>
    <input wicket:id="smsUsername" id="smsUsername" type="text"/><br/>

    <label for="smsPassword">Account Password</label>
    <input wicket:id="smsPassword" id="smsPassword" type="password"/><br/>

    <label for="smsTransportUrl">Transport URL</label>
    <input wicket:id="smsTransportUrl" id="smsTransportUrl" type="text"/><br/>

</wicket:extend>
