body {
    text-align: center; /* for IE */
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:12px;
	cursor:default;
	color:#AAAAAA;
	background-color:#FFFFFF
}

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

html {
	height:100%;
	margin-bottom:1px;
}

#container {
	margin: 0 auto;   /* align for good browsers */
	text-align: left; /* counter the body center */

	/*border: 2px solid #000;*/
	width: 80%;

	background-color: #FFFFFF;
	color:#AAAAAA;
}

#header {
	width:100%;
	padding-top:15px;
}

.top_main_heading {
	margin-top:15px;
}

#content {
	color:#999999;
	background-color:#FFFFFF;
	border-bottom:1px;
	border-left:1px;
	border-right:1px;
	border-top:0px;
	border-style:solid;
	border-color:#AAAAAA;
	/*margin-left:20px;
	margin-right:20px;*/
	margin-bottom:15px;
	line-height:20px;
	padding:20px;
}

hr {
	border:0px;
	color:#CCCCCC;
	background-color:#CDCDCD;
	height: 1px;
	width: 100%;
	text-align: left;
}

h1 {
	font-size:28px;
	color:#FFBA27;
	background-color:#FFFFFF;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
}

h2 {
	font-size:20px;
	color:#CCCCCC;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
	background-color:#FFFFFF;
}

h3 {
	color:#FFBA27;
	font-size:15px;
	background-color:#F9F9F9;
	border-width:1px;
	border-color:#AAAAAA;
	border-style:solid;
	text-align:left;
	/*margin-left:20px;
	margin-right:20px;*/
	font-weight:300;
	padding:5px;
}

p {
	margin: 0.3em 0.3em 0.5em 0.3em;
}

code {
	font-size: 115%;
}

.nav {
	/*border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;*/
	float: right;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	text-align: right;
	width: 125px;
}

.nav a {
	color:#FFBA27;
	text-decoration:none;
	font-size: 12px;
	font-weight: normal;
	background-color:#FFFFFF;
}

.nav a:hover {
	color:#FFBA27;
	background-color:#FFFFFF;
	text-decoration:underline;
}

#maincontent a {
	color:#FFBA27;
	background-color:#FFFFFF;
	text-decoration:none;
}
#maincontent a:hover {
	color:#FFBA27;
	background-color:#FFFFFF;
	text-decoration:underline;
}

#foot {
	font-size: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	/*padding-right: 10px;*/
	text-align: center;
	color:#AAAAAA;
	background-color:#FFFFFF;
}

#foot a {
	color:#AAAAAA;
	background-color:#FFFFFF;
	text-decoration:none;
}

#foot a:hover {
	color:#AAAAAA;
	background-color:#FFFFFF;
	text-decoration:underline;
}

label {
	float: left;
	width: 140px;
	font-weight: bold;
}

input, textarea {
	width: 180px;
	margin-bottom: 5px;
}

textarea {
	width: 250px;
	height: 150px;
}

.boxes {
	width: 1em;
}

#cancelbutton {
	margin-left: 120px;
	margin-top: 5px;
	width: 90px;
}

#backbutton {
	margin-top: 5px;
	width: 90px;
}

#nextbutton {
	margin-top: 5px;
	width: 90px;
}

br {
	clear: left;
}

.feedbackPanelERROR {
	color: red;
	list-style: circle;
	font-weight: bold;
}

.feedbackPanelINFO {
	color: green;
	list-style: circle;
	font-weight: bold;
}