<?xml version="1.0"?>
<!--

  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en" lang="en">
<head>
    <wicket:head>
        <title>TripleSec Configuration Wizard</title>
    </wicket:head>
</head>
<body>
    <span wicket:id="border">
        <!-- Use panels to group markup and components for each wizard step -->
        <span wicket:id="wp0">Content of first wizard panel here</span>
        <span wicket:id="wp1">Content of second wizard panel here</span>
        <span wicket:id="wp2">Content of third wizard panel here</span>
        <span wicket:id="wp3">Content of fourth wizard panel here</span>
        <span wicket:id="wp4">Content of fifth wizard panel here</span>
        <span wicket:id="wp5">Content of sixth wizard panel here</span>
        <span wicket:id="wp6">Content of seventh wizard panel here</span>
        <span wicket:id="wp7">Content of eighth wizard panel here</span>
        <span wicket:id="wp8">Content of ninth wizard panel here</span>
        <span wicket:id="wp9">Content of tenth wizard panel here</span>
    </span>
</body>
</html>
