<!-- 
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.

-->

<wicket:extend>
    <br/>
    
    <p>
      Please enter the following critical user information required to
      create a Triplesec user account.
    </p>
    <br/>
    <br/>

    <label for="username">Username</label>
    <input wicket:id="username" id="username" type="text"/><br/>

    <label for="firstName">First Name</label>
    <input wicket:id="firstName" id="firstName" type="text"/><br/>

    <label for="lastName">Last Name</label>
    <input wicket:id="lastName" id="lastName" type="text"/><br/>

    <br/>
    <label for="password">Password</label>
    <input wicket:id="password" id="password" type="password"/><br/>

    <label for="passwordConfirm">Password Confirm</label>
    <input wicket:id="passwordConfirm" id="passwordConfirm" type="password"/><br/>


    <br/>
    <label for="email">Email</label>
    <input wicket:id="email" id="email" type="text"/><br/>

    <br/>
</wicket:extend>
