<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="environment" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="properties">
      <props>
        <prop key="java.naming.security.authentication">simple</prop>
        <prop key="java.naming.security.principal">uid=admin,ou=system</prop>
        <prop key="java.naming.security.credentials">secret</prop>
        <prop key="java.naming.provider.url">dc=example,dc=com</prop>
        <prop key="java.naming.factory.state">org.safehaus.triplesec.store.ProfileStateFactory</prop>
        <prop key="java.naming.factory.object">org.safehaus.triplesec.store.ProfileObjectFactory</prop>

        <prop key="kdc.primary.realm">EXAMPLE.COM</prop>
        <prop key="kdc.principal">krbtgt/EXAMPLE.COM@EXAMPLE.COM</prop>
        <prop key="kdc.encryption.types">des-cbc-md5 des3-cbc-sha1 des3-cbc-md5 des-cbc-md4 des-cbc-crc</prop>
        <prop key="kdc.entryBaseDn">ou=users,dc=example,dc=com</prop>
        <prop key="kdc.java.naming.security.credentials">secret</prop>

        <prop key="changepw.entryBaseDn">ou=users,dc=example,dc=com</prop>
        <prop key="changepw.java.naming.security.credentials">secret</prop>
        <prop key="changepw.principal">kadmin/changepw@EXAMPLE.COM</prop>

        <!-- All times are in minutes -->
        <prop key="kdc.allowable.clockskew">5</prop>
        <prop key="kdc.tgs.maximum.ticket.lifetime">1440</prop>
        <prop key="kdc.tgs.maximum.renewable.lifetime">10080</prop>
        <prop key="kdc.pa.enc.timestamp.required">true</prop>
        <prop key="kdc.tgs.empty.addresses.allowed">true</prop>
        <prop key="kdc.tgs.forwardable.allowed">true</prop>
        <prop key="kdc.tgs.proxiable.allowed">true</prop>
        <prop key="kdc.tgs.postdate.allowed">true</prop>
        <prop key="kdc.tgs.renewable.allowed">true</prop>

        <prop key="safehaus.entry.basedn">ou=Users,dc=example,dc=com</prop>
        <prop key="safehaus.load.testdata">true</prop>
        <prop key="kerberos.sam.type.7">org.safehaus.triplesec.verifier.hotp.DefaultHotpSamVerifier</prop>
      </props>
    </property>
  </bean>

  <bean id="configuration" class="org.safehaus.triplesec.configuration.MutableTriplesecStartupConfiguration">
    <property name="workingDirectory"><value>partitions</value></property>
    <property name="allowAnonymousAccess"><value>false</value></property>
    <property name="accessControlEnabled"><value>true</value></property>
    <property name="ldapPort"><value>10389</value></property>
    <property name="enableKerberos"><value>true</value></property>
    <property name="enableNtp"><value>false</value></property>
    <property name="enableChangePassword"><value>true</value></property>

    <!-- Uncomment below to have the server load entries on startup!        -->
    <!-- ldifDirectory property can point to a relative file, directory or  -->
    <!-- can point to an absolute path to either using the URL path         -->
    <!-- notation: i.e. file:///Users/jack/apacheds/ldifs                   -->

    <!-- Entries will optionally be filtered using LdifLoadFilters in the   -->
    <!-- order specified.  The included Krb5KdcEntryFilter will filter      -->
    <!-- kerberos principals creating keys for them using their             -->
    <!-- userPassword attribute if present.                                 -->

    <!-- If missing the Triplesec server will use LDIF files under the conf -->
    <!-- directory where it has been installed.                             -->

    <!--
    <property name="ldifDirectory">
      <value>example.ldif</value>
    </property>
    -->
    <property name="ldifFilters">
      <list>
        <bean class="org.apache.directory.server.protocol.shared.store.Krb5KdcEntryFilter"/>
      </list>
    </property>

    <property name="activationConfiguration">
      <bean class="org.safehaus.triplesec.configuration.ActivationConfiguration">
        <property name="enableDecoyMidlet"><value>true</value></property>
        <property name="otpLength"><value>6</value></property>
        <property name="midletNameAttribute"><value>midletNameAttribute</value></property>
      </bean>  
    </property>    
    
    <property name="smsConfiguration">
      <bean class="org.safehaus.triplesec.configuration.SmsConfiguration">
        <property name="smsUsername"><value>hauskeys</value></property>
        <property name="smsPassword"><value>secret</value></property>
        <property name="smsAccountName"><value>demo</value></property>
        <property name="smsTransportUrl"><value>http://www.nbroadcasting.com/customers/messages/Sender.asp</value></property>
      </bean>  
    </property>    
    
    <property name="smtpConfiguration">
      <bean class="org.safehaus.triplesec.configuration.SmtpConfiguration">
        <property name="smtpAuthenticate"><value>false</value></property>
        <!-- uncomment and set above property if authentication is required by mail server
             <property name="smtpUsername"><value>hauskeys</value></property>
             <property name="smtpPassword"><value>secret</value></property>
             -->
             <property name="smtpHost"><value>localhost</value></property>
             <property name="smtpSubject"><value>Triplesec Account Activated</value></property>
             <property name="smtpFrom"><value>dev@safehaus.org</value></property>
           </bean>  
         </property>    
         
    <property name="contextPartitionConfigurations">
      <set>
        <ref bean="examplePartitionConfiguration"/>
      </set>
    </property>
    <property name="bootstrapSchemas">
      <set>
        <bean class="org.apache.directory.server.core.schema.bootstrap.CorbaSchema"/>
        <bean class="org.apache.directory.server.core.schema.bootstrap.CoreSchema"/>
        <bean class="org.apache.directory.server.core.schema.bootstrap.CosineSchema"/>
        <bean class="org.apache.directory.server.core.schema.bootstrap.ApacheSchema"/>
        <bean class="org.apache.directory.server.core.schema.bootstrap.CollectiveSchema"/>
        <bean class="org.apache.directory.server.core.schema.bootstrap.InetorgpersonSchema"/>
        <bean class="org.apache.directory.server.core.schema.bootstrap.JavaSchema"/>
        <bean class="org.apache.directory.server.core.schema.bootstrap.Krb5kdcSchema"/>
        <bean class="org.apache.directory.server.core.schema.bootstrap.SystemSchema"/>
        <bean class="org.safehaus.triplesec.store.schema.SafehausSchema"/>
      </set>
    </property>
    
    <property name="extendedOperationHandlers">
      <list>
        <bean class="org.apache.directory.server.ldap.support.extended.GracefulShutdownHandler"/>
        <bean class="org.apache.directory.server.ldap.support.extended.LaunchDiagnosticUiHandler"/>
      </list>
    </property>  

    <property name="interceptorConfigurations">
      <list>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>normalizationService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.normalization.NormalizationService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>authenticationService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.authn.AuthenticationService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>referralService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.referral.ReferralService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>authorizationService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.authz.AuthorizationService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>defaultAuthorizationService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.authz.DefaultAuthorizationService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>exceptionService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.exception.ExceptionService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>schemaService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.schema.SchemaService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>subentryService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.subtree.SubentryService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>operationalAttributeService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.operational.OperationalAttributeService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>collectiveAttributeService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.collective.CollectiveAttributeService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>eventService</value></property>
          <property name="interceptor">
            <bean class="org.apache.directory.server.core.event.EventService" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>policyProtectionService</value></property>
          <property name="interceptor">
            <bean class="org.safehaus.triplesec.store.interceptor.PolicyProtectionInterceptor" />
          </property>
        </bean>
        <bean class="org.apache.directory.server.core.configuration.MutableInterceptorConfiguration">
          <property name="name"><value>changelogService</value></property>
          <property name="interceptor">
            <bean class="org.safehaus.triplesec.changelog.beta.interceptor.ChangelogService" />
          </property>
        </bean>
      </list>
    </property>
  </bean>
  
  <bean id="examplePartitionConfiguration" class="org.apache.directory.server.core.configuration.MutablePartitionConfiguration">
    <property name="name"><value>example</value></property>
    <property name="suffix"><value>dc=example,dc=com</value></property>
    <property name="indexedAttributes">
      <set>
        <value>objectClass</value>
        <value>ou</value>
        <value>dc</value>
        <value>uid</value>
        <value>profileId</value>
        <value>roles</value>
        <value>grants</value>
        <value>denials</value>
        <value>krb5PrincipalName</value>
      </set>
    </property>
    <property name="contextEntry">
      <value>
        objectClass: top
        objectClass: domain
        objectClass: extensibleObject
        dc: example
        administrativeRole: accessControlSpecificArea
        administrativeRole: collectiveAttributeSpecificArea
      </value>
    </property>
  </bean>

  <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
    <property name="customEditors">
      <map>
        <entry key="javax.naming.directory.Attributes">
          <bean class="org.apache.directory.server.core.configuration.AttributesPropertyEditor"/>
        </entry>
      </map>
   </property>
  </bean>
</beans>
